<!doctype html>
<html>
    <head>
        <title>IRQ | {{.Title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

        <!-- Optional theme -->
        <link rel="stylesheet" href="/assets/css/theme.css">
        <style>
        .quote .panel-body {
            font-family: monospace;
            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
        .quote .highlight {
            background-color: yellow;
        }
        .footer {
            margin-bottom: 2em;
        }
        .score-box {
            margin-left: 0.5em;
        }
        .remove-button {
            float: right;
            color: #ccc !important;
        }
        body { padding-top: 70px; }
        </style>
        <link rel="stylesheet" href="/assets/css/custom/style.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">IRQ</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/all">All</a></li>
                    <li><a href="/top">Top</a></li>
                    <li><a href="/latest">Latest</a></li>
                    <li><a href="/random">Random</a></li>
                    <li><a href="/submit"><b>Submit</b></a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="query" autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </nav>

        

        <div class="container">
            {{ yield }}
            <hr>
            <div class="footer text-center">
                <small>
                    IRQ was hastily cobbled together for Hackathon 17.0 by <code>bariteau</code>, <code>cpaul</code> & <code>mmulder</code>
                </small>
            </div>
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-url/1.8.7/url.min.js"></script>
        <script src="/assets/js/jquery.highlight-5.js"></script>
        <script>
            function updateScore(element, score) {
                element.text(score);
                element.removeClass('btn-success btn-danger btn-default');

                if (score > 0) {
                    element.addClass('btn-success');
                } else if (score < 0) {
                    element.addClass('btn-danger');
                } else {
                    element.addClass('btn-default');
                }
            }

            // TODO: Remove this hack and set the initial state in the template
            $('.score').each(function() {
                var element = $(this);
                var score = parseInt($(this).text(), 10);
                updateScore(element, score);
            });

            function vote(value) {
                return function(e) {
                    e.preventDefault();
                    var scoreBox = $(e.delegateTarget)
                    var id = scoreBox.data('id');

                    $.post('/vote/' + id, {
                        count: value
                    }).success(function(e) {
                        updateScore(scoreBox.find('.score'), e.score);
                    });
                }
            }

            $('.score-box').on('click', '.upvote', vote(1));
            $('.score-box').on('click', '.downvote', vote(-1));

            function remove(e) {
                if (confirm("Do you really want to delete this quote? Don't be a jerk!")) {
                    var quote = $(this).parents(".quote");
                    quote[0].outerHTML = '<div class="alert alert-danger" role="alert"><b>BOOM!</b> This quote has been deleted.</div>';
                }
            }
            $('.remove-button').on('click', remove);

            var query = url("?query");
            if (query) {
                $('.quote .panel-body').highlight(query);
            }
        </script>
    </body>
</html>
