{{ if .showPagination }}
<p class="text-right">
    Page {{ .page }} / {{ .maxPage }} ({{ .total }} results)
</p>
{{ end }}

{{ range $index, $quote := .quotes }}
<div class="quote panel panel-default">
    <div class="panel-heading">
        {{ if $quote.IsOffensive }}
        <span class="label label-warning">NSFW</span>
        {{ end }}
        {{ if $quote.IsNishbot }}
        <span class="label label-default">nishbot</span>
        {{ end }}
        <a href="/quote/{{ $quote.ID }}">
            #{{ $quote.ID }}
        </a>

        <div class="btn-group" role="group">
            <a href="#" role="button" class="btn btn-default btn-xs">--</a>
            <a href="#" role="button" class="btn btn-default disabled btn-xs">{{ $quote.Score }}</button>
            <a href="#" role="button" class="btn btn-default btn-xs">++</a>
        </div>
    </div>
    <div class="panel-body">{{ $quote.Text }}</div>
</div>
{{ end }}

{{ if .showPagination }}
<nav>
    <ul class="pager">
        {{ if .previousPage }}
            {{ if .query }}
                <li class="previous"><a href="?page={{.previousPage}}&count={{.count}}&query={{.query}}"><span aria-hidden="true">&larr;</span>Previous</a></li>
            {{ else }}
                <li class="previous"><a href="?page={{.previousPage}}&count={{.count}}"><span aria-hidden="true">&larr;</span>Previous</a></li>
            {{ end }}
        {{ else }}
            <li class="previous disabled"><a><span aria-hidden="true">&larr;</span>Previous</a></li>
        {{ end }}
        {{ if .nextPage }}
            {{ if .query }}
                <li class="next"><a href="?page={{.nextPage}}&count={{.count}}&query={{.query}}">Next<span aria-hidden="true">&rarr;</span></a></li>
            {{ else }}
                <li class="next"><a href="?page={{.nextPage}}&count={{.count}}">Next<span aria-hidden="true">&rarr;</span></a></li>
            {{ end }}
        {{ else }}
            <li class="next disabled"><a>Next<span aria-hidden="true">&rarr;</span></a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}
