<div class="quote panel panel-default">
    <div class="panel-heading">
        <a href="#">#{{.id}} <span class="badge">{{.score}}</span></a>
    </div>
    <div class="panel-body">{{.text}}</div>
</div>
