{{ if .ShowPagination }}
<p class="text-right">
    Page {{ .Page }} / {{ .MaxPage }} ({{ .Total }} results)
</p>
{{ end }}

{{ range $index, $quote := .Quotes }}
<div class="quote panel panel-default">
    <div class="panel-heading">
        {{ if $quote.IsOffensive }}
        <span class="label label-warning">NSFW</span>
        {{ end }}
        {{ if $quote.IsNishbot }}
        <span class="label label-default">nishbot</span>
        {{ end }}
        <a href="/quote/{{ $quote.ID }}">
            #{{ $quote.ID }}
        </a>

        <div class="btn-group score-box" role="group" data-id="{{ $quote.ID }}">
            <a href="#" role="button" class="btn btn-default btn-xs downvote">--</a>
            <a href="#" role="button" class="btn btn-default disabled btn-xs score">{{ $quote.Score }}</button>
            <a href="#" role="button" class="btn btn-default btn-xs upvote">++</a>
        </div>
    </div>
    <div class="panel-body">{{ $quote.Text }}</div>
</div>
{{ end }}

{{ if .ShowPagination }}
<nav>
    <ul class="pager">
        {{ if .PreviousPage }}
            {{ if .Query }}
                <li class="previous"><a href="?page={{.PreviousPage}}&count={{.Count}}&query={{.Query}}"><span aria-hidden="true">&larr;</span>Previous</a></li>
            {{ else }}
                <li class="previous"><a href="?page={{.PreviousPage}}&count={{.Count}}"><span aria-hidden="true">&larr;</span>Previous</a></li>
            {{ end }}
        {{ else }}
            <li class="previous disabled"><a><span aria-hidden="true">&larr;</span>Previous</a></li>
        {{ end }}
        {{ if .NextPage }}
            {{ if .Query }}
                <li class="next"><a href="?page={{.NextPage}}&count={{.Count}}&query={{.Query}}">Next<span aria-hidden="true">&rarr;</span></a></li>
            {{ else }}
                <li class="next"><a href="?page={{.NextPage}}&count={{.Count}}">Next<span aria-hidden="true">&rarr;</span></a></li>
            {{ end }}
        {{ else }}
            <li class="next disabled"><a>Next<span aria-hidden="true">&rarr;</span></a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}
