<h2>Submit a Quote</h2>

<div>
    <p>For the sake of uniformity, please try to stick to the following format for IRC quotes:</p>
    <pre>&lt;name&gt; Message goes here.</pre>
    <p>Please remove timestamps unless they are important to the context.</p>
</div>

<form method="POST">
    <div class="form-group">
        <label for="text">Quote Text</label>
        <textarea id="text" name="text" class="form-control" rows="4" required placeholder="14:58 < marley> (╯°□°）╯︵ ǝbɐʇs"></textarea>
    </div>

    <div class="text-right">
        <div class="checkbox-inline">
            <label>
            <input name="is_offensive" type="checkbox">
            <span class="label label-warning">NSFW</span>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
