<h2>Submit a Quote</h2>

<div>
    <p>For the sake of uniformity, please try to stick to the following format for IRC quotes:</p>
    <pre>&lt;name&gt; Message goes here.</pre>
    <p>Please remove timestamps unless they are important to the context.</p>
</div>

<form method="POST">
    <div class="form-group">
        <label for="text">Quote Text</label>
        <textarea id="text" name="text" class="form-control" rows="5" required placeholder="14:58 < marley> (╯°□°）╯︵ ǝbɐʇs"></textarea>
    </div>

    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" id="tags" name="tags" class="form-control" placeholder="Add tags">
        Quick Tags:
        {{ range $tag := .PopularTags }}
            {{ if eq $tag "nsfw" }}
                <a href="#" class="label label-warning popular-tag">{{ $tag }}</a>
            {{ else }}
                <a href="#" class="label label-default popular-tag">{{ $tag }}</a>
            {{ end }}
        {{ end }}
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
