<form method="POST">
    <div class="form-group">
        <label for="text">Quote</label>
        <textarea id="text" name="text" class="form-control" rows="3" required placeholder="14:58 < marley> (╯°□°）╯︵ ǝbɐʇs"></textarea>
    </div>

    <div class="checkbox">
        <label>
        <input name="is_offensive" type="checkbox">
        NSFW?
        </label>
    </div>
    <div class="checkbox">
        <label>
        <input name="is_nishbot" type="checkbox">
        nishbot
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
